# LISTS
Lists are ordered sequence of mixed data types
Lists are written in comma separated elements within square brackets

In [1]:
list1=["india",5,"delhi"]
list1

['india', 5, 'delhi']

<!-- Lists are oredered sequence of mixed data types
Lists are written in comma separated elements within square brackets  -->

In [3]:
print(len(list1))
print(type(list1))

3
<class 'list'>

In [ ]:
cust_info=["siddhi","20","indore"]

# accessing elements of list
print(cust_info[0])
print(cust_info[1])
print(cust_info[2])
print(cust_info[-1])

# lenght of list
print(len(cust_info))


# type of list
print(type(cust_info))

siddhi
20
indore
indore
3
<class 'list'>
['shruti', '20', 'indore']

# changing the value of list
cust_info[0]="shruti"
print(cust_info)

In [27]:
list1=["india",5,"delhi"]
list2=[1,2,3,4,5]


# concatenation of lists
list3=list1+list2
print(list3)

['india', 5, 'delhi', 1, 2, 3, 4, 5]

In [28]:
list2=list1[0]
print(list2)

india

MUTABILITY

In [29]:
list1=["maths","english","ArithmeticError","History"]

In [30]:
list1[2]
list1[2]="Python"
list1

['maths', 'english', 'Python', 'History']

In [31]:
# extend() function --->it extends this list by appending elements from the iterable
list1=["maths","english","ArithmeticError","History"]
list1.extend(["Python","C++"])
print(list1)

['maths', 'english', 'ArithmeticError', 'History', 'Python', 'C++']

In [32]:
# append() function --->it adds an element at the end of the list
list1=["india",5,"delhi"]
list1.append("siddhi")
list1
len(list1)

4

In [35]:
# <!-- delete command -->
list1=[1,2,3,4,5]
del list1[2]
list1

[1, 2, 4, 5]

In [37]:
# pop operation
list1=[1,2,3,4,5]
list1.pop(2)
list1

[1, 2, 4, 5]

In [39]:
# remove() function --->it removes the first occurrence of a value
list1=[1,2,3,4,5]
list1.remove(3) 
list1

[1, 2, 4, 5]

In [41]:
# sort() function --->it sorts the list in ascending order
A=[8,9,5,6,2]
A.sort()
print(A)

[2, 5, 6, 8, 9]

In [45]:
# reverse
A=[8,9,5,6,2]
A.sort(reverse=True)
print(A)

[9, 8, 6, 5, 2]

Difference between sort and sorted

In [50]:
A=["Oranges","Apples","Bananas"]
B=sorted(A)
print(A)
print(B)

['Oranges', 'Apples', 'Bananas']
['Apples', 'Bananas', 'Oranges']

SHALLOW COPY

In [51]:
A=["Oranges","Mangoes","Bananas "]
B=A
print(A)
print(B)

['Oranges', 'Mangoes', 'Bananas ']
['Oranges', 'Mangoes', 'Bananas ']

In [52]:
A.pop()

'Bananas '

In [53]:
A

['Oranges', 'Mangoes']

In [ ]:
B

['Oranges', 'Mangoes']

Questions
<!-- Split the string input "Siddhi_patel_3010 to the persons's second name , first name and unique customer code. In this example , second_name="Kumar","first_name -->

In [59]:
input_string = "Siddhi_patel_3010"
second_name,first_name,cust_code =  input_string.split("_")
print("Second Name:", second_name)
print("First Name:", first_name)
print("Customer Code:", cust_code)
input_string = "Siddhi_patel_3010"

Second Name: Siddhi
First Name: patel
Customer Code: 3010

Siddhi_patel_3010