In [1]:
# for loop execution
#!/usr/bin/env python3
a=2
b=3
for i in range(1, 11):
    print(f"{a} * {i} = {a*i}")
    print(f"{b} * {i} = {b*i}")

2 * 1 = 2
3 * 1 = 3
2 * 2 = 4
3 * 2 = 6
2 * 3 = 6
3 * 3 = 9
2 * 4 = 8
3 * 4 = 12
2 * 5 = 10
3 * 5 = 15
2 * 6 = 12
3 * 6 = 18
2 * 7 = 14
3 * 7 = 21
2 * 8 = 16
3 * 8 = 24
2 * 9 = 18
3 * 9 = 27
2 * 10 = 20
3 * 10 = 30

In [6]:
# check wheater a number is odd or even

x = int(input("Enter a number: "))
if x % 2 == 0:
    print(f"{x} is even")
else:
    print(f"{x} is odd")

2 is even

In [15]:
# allow greater than 18 & less than 50 years of age
age=int(input("enter your age:"))
if age >18 and  age<50:
    print("You are allowed to enter")
else:
    print("You are not allowed to enter")

You are not allowed to enter

In [17]:
# program to provide discounts
amount = int(input("Enter the amount: "))
if amount>5000 and amount<=10000:
    discount=amount*0.1
    print("Discount is:", discount)
if amount >10000:
    discount=amount*0.2
    print("Discount is:", discount)    
else:
    print("No discount")

Discount is: 11200.0

iterations

In [ ]:
# iterate over a list of integers
list1=[10,20,30,40,50]
for i in list1:
        print(i)

10
20
30
40
50

In [23]:
# iterate over a String
str1="India"
for i in str1:
        print(i)

I
n
d
i
a

In [26]:
student_data= {
    "name": "John",
    "age": 20,
    "subjects": ["Math", "Science", "English"]
}
for i in student_data:
    print(f"{i}: {student_data[i]}")

name: John
age: 20
subjects: ['Math', 'Science', 'English']

In [29]:
student_data= {
    "name": "John",
    "age": 20,
    "subjects": ["Math", "Science", "English"]
}
for i in student_data.items():
    print(i)

('name', 'John')
('age', 20)
('subjects', ['Math', 'Science', 'English'])

In [32]:
# Comprehensions
list1=["Automobiles","Honda","Benz","Toyota","Kia"]
list2=[]
for i in list1:
    list2.append(i.upper())
    print(list2)

['AUTOMOBILES']
['AUTOMOBILES', 'HONDA']
['AUTOMOBILES', 'HONDA', 'BENZ']
['AUTOMOBILES', 'HONDA', 'BENZ', 'TOYOTA']
['AUTOMOBILES', 'HONDA', 'BENZ', 'TOYOTA', 'KIA']

QUESTIONS

FOR LOOP

In [36]:
# Print all even numbers between 1 and 50.
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
# Print the sum of numbers from 1 to N (user input).
N = int (input("enter the number:"))

sum=0
for i in range(1,N+1):
    sum += i
    
    print(sum)

1
3
6
10

In [19]:
# fibonacci series
N=int(input("Enter the number of terms: "))
sum=0
for i in range(1,N+1):
    sum= sum + i
    print(sum,end=" ")

1 3 6 10 15 21

In [27]:
# Print the largest number in a list using a loop
list1 = [10, 20, 30, 40, 50]

largest = list1[0]

for i in range(1, len(list1)):
    if list1[i] > largest:
        largest = list1[i]

print("Largest number is:", largest)

Largest number is: 50

In [28]:
# Print all elements of a list using a for loop.
list1 = [10, 20, 30, 40, 50]
for i in list1:
    print(i ,end=" ")

10 20 30 40 50

In [ ]:
X= "bananas are amazing"
# Count how many times the letter "a" appears in "bananas are amazing".
count = 0   
for i in X:
    if i == "a":
        count += 1
print(count)

6

In [55]:
for i in range(1,i+1):
    # for j in range(1+i,4):
        print("*"*i)

*
**
***
****
*****
******

In [ ]:
# Write a program to print prime numbers between 1 and 100.

for i in range(2,101):
    is_prime = True
    for j in  range(2, int(i**0.5) + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [59]:
# Print the Fibonacci sequence up to N terms.
N= int(input("Enter the number of terms: "))
sum=0
for i in range(1,N+1):
   sum+= i
   print(sum, end=" ")

1 3 6 10 15 21

In [ ]:
#
num = int(input("Enter a string: "))
factor = 1
for i in range(1,num+1):
    factor *= i

    print(factor)

1
2
6
24
120
720
5040
40320